:root {
    --bg-color: #090516;
    --second-bg-color: #081b29;
    --text-color: #fff;
    --second-color: #c2bfd1;
    --main-color: #6b57ff;
    --sub-color: #b1e82d;

    --fw-Medium-500: 500;
    --fw-SemiBold-600: 600;
    --fw-Bold-700: 700;
    --fw-ExtraBold-800: 800;

    --transition-3: all 0.3s ease;
    --transition-5: all 0.5s ease;

    --p-80: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    border-radius: 20px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--main-color);
    border-radius: 20px;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--second-bg-color);
    color: var(--text-color);
    position: relative;
}

.layout::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    z-index: 10;
}


@media (min-width: 786px) {
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 18px;
    }

    a {
        font-size: 16px;
    }
}

@media (max-width: 786px) {
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    a {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 10px;
    }
}

ul {
    list-style: none;
}

img,
a {
    display: inline-block;
    color: var(--text-color);
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 1150px;
    }
}

.btn {
    padding: 15px 26px;
    border-radius: 100px;
    background-color: var(--sub-color);
    color: #000;
    transition: var(--transition-5);
    font-weight: var(--fw-Medium-500);
    width: fit-content;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    scale: 1.08;
}

@media (max-width: 786px) {
    .btn {
        padding: 10px 20px;
    }
}

@media (max-width: 350px) {
    .btn {
        padding: 7px 15px;
    }
}

.header_content {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 50px;
}

/* Satrt Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    padding-block: 20px;
    transition: var(--transition-5);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    text-transform: capitalize;
}

.header .container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
    transition: var(--transition-5);
}

.header .container .logo:hover {
    opacity: 0.5;
}

.header .container .nav-links {
    display: flex;
    gap: 15px;
}

.header .container .nav-links .nav-link {
    transition: var(--transition-5);
    font-weight: var(--fw-Medium-500);
}

.header .container .nav-links .nav-link:hover,
.header .container .nav-links .active {
    color: var(--main-color);
    transform: scale(1.1);
}

.close-nav {
    display: none;
}

.header .container .right-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header .container .right-header .open-nav {
    cursor: pointer;
    display: none;
    transition: var(--transition-5);
}

.header .container .right-header .open-nav:hover {
    color: var(--main-color);
}

.header .container .right-header svg {
    font-size: 28px;
}

@media (max-width: 600px) {
    .header {
        padding-block: 10px;
    }

    .header .container .right-header .open-nav {
        display: block;
    }

    .header .container .navbar {
        background-color: var(--second-bg-color);
        position: absolute;
        width: 100%;
        left: -100%;
        top: 0;
        transition: var(--transition-5);
    }

    .header .container .navbar .nav-links {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .header .container .navbar .nav-links .nav-link {
        font-size: 25px;
    }

    .close-nav {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        display: block;
    }

    .close-nav svg {
        font-size: 30px;
        transition: var(--transition-5);
    }

    .close-nav:hover svg {
        color: var(--main-color);
    }
}

/* End Header */
/* Start Home */
.home {
    background-image: url(../images/bgHome.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.home .content {
    margin-top: 30px;
    width: 50%;
    text-transform: capitalize;
    margin-top: 100px;
}

.home .content p {
    color: var(--text-color);
}

.home .content h2 {
    text-transform: uppercase;
    font-size: 60px;
    margin: 20px 0;
}

.home .content h2 span {
    color: var(--main-color);
}

.home .content .count_home {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 35px;
}

.home .content .count_home .count {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 150px;
    text-align: left;
}

.home .content .count_home .count h3 {
    font-size: 35px;
}

.home .content .count_home .count p {
    color: var(--second-color);
}

.btn_home:hover svg {
    animation: dow 1s infinite linear;
}

@keyframes dow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 995px) {
    .home::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .home .content {
        width: 100%;
        text-align: center;
    }

    .home .content h2 {
        font-size: 45px;
    }

    .home .content .count_home .count h3 {
        font-size: 28px;
    }

    .home .content .count_home {
        justify-content: center;
    }
}

@media (max-width: 850px) {
    .home {
        background-position: right;
    }
}

@media (max-width: 750px) {
    .home .content h2 {
        font-size: 45px;
    }

    .home .content .count_home .count h3 {
        font-size: 28px;
    }
}

@media (max-width: 300px) {
    .home .content h2 {
        font-size: 35px;
    }

    .home .content .count_home .count h3 {
        font-size: 20px;
    }
}

/* End Home */
/* Satrt About*/
.about {
    position: relative;
}

.about .container {
    padding-block: var(--p-80);
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.about .container img {
    width: 550px;
    max-width: 100%;
}

.about .container .content h2 {
    margin-bottom: 5px;
}

.about .container .content h4 span {
    color: var(--main-color);
}

.about .container .content p {
    line-height: 1.6;
    color: var(--second-color);
    margin-block: 20px;
}

.btn_about {
    margin: 0;
}

.btn_about:hover svg {
    animation: arrow-right 1s infinite linear;
}

@keyframes arrow-right {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.about .container .content .read_me {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: fit-content;
    max-height: 65%;
    overflow: auto;
    background-color: var(--bg-color);
    border-radius: 20px;
    box-shadow: #b0e82d52 0px 5px 15px;
    transition: var(--transition-5);
    display: none;
    z-index: 10;
}

.about .container .content .read_me p {
    padding: 0 25px 25px;
    line-height: 1.6;
}

.close_read_me {
    position: sticky;
    top: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.close_read_me svg {
    padding: 10px;
    background-color: var(--sub-color);
    color: #000;
    border-radius: 5px;
    font-size: 20px;
}

@media (max-width: 990px) {
    .btn_about {
        margin: auto;
    }

    .about .container {
        flex-direction: column;
        text-align: center;
    }
}

/* End About*/
/* Start Services */
.services {
    padding-block: var(--p-80);
    background-color: var(--bg-color);
}

.services .container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.services .container .boxs .box {
    background-color: var(--second-bg-color);
    padding: 50px 50px 60px;
    border-radius: 20px;
    transition: var(--transition-5);
}

.services .container .boxs .box:hover {
    border: 2px solid var(--main-color);
    transform: scale(1.05);
}

.services .container .boxs .box .number_box {
    color: var(--main-color);
    transform: translateY(-15px);
    margin-bottom: 10px;
    font-weight: var(--fw-Bold-700);
}

.services .container .boxs .box .name_box {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: var(--fw-SemiBold-600);
}

.services .container .boxs .box p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.services .container .boxs .box a {
    text-transform: capitalize;
}

.services .container .boxs .box a:hover svg {
    animation: arrow-right 1s infinite linear;
}

.services .container .services-q {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-transform: capitalize;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--second-bg-color);
}

.services .container .services-q h2 {
    margin-bottom: 10px;
    line-height: 1.6;
}

.services .container .services-q .btns_services .btn:nth-child(2) {
    background-color: var(--main-color);
    margin-left: 10px;
    color: var(--text-color);
}

@media (max-width: 990px) {
    .services .container .services-q {
        flex-direction: column;
        text-align: center;
    }

    .services .container .services-q .btns_services {
        display: flex;
        gap: 10px;
    }

    .services .container .services-q .btns_services .btn:nth-child(2) {
        margin: 0;
    }
}

/* Start Services */
/* Start Testmonials */
.testmonials {
    padding-block: var(--p-80);
}

.testmonials .container {
    text-align: center;
}

.testmonials .container img {
    border-radius: 50%;
    padding: 5px;
    border: 2px solid var(--main-color);
    width: 120px;
}

.testmonials .container p {
    line-height: 1.6;
    max-width: 550px;
    margin: auto;
    margin-block: 25px;
}

.testmonials .container h4 {
    text-transform: capitalize;
}

.testmonials .container p:last-child {
    color: var(--main-color);
    text-transform: capitalize;
}

/* End Testmonials */
/* Start Contact */
.contact {
    background-color: var(--bg-color);
    padding-block: var(--p-80);
}

.contact .container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.contact .container .content, .contact .container .form {
    flex: 1;
}

.contact .container .content p {
    text-transform: capitalize;
}

.contact .container .content h1 {
    text-transform: capitalize;
    font-size: 50px;
    margin: 10px 0 25px;
}
.contact .container .content ul {
    display: flex;
    gap: 10px;
}
.contact .container .content ul li a {
    color: var(--sub-color);
    font-size: 22px;
    transition: var(--transition-5);
}
.contact .container .content ul li a:hover {
    color: var(--main-color);
    transform: scale(1.2);
}
.contact .container .form form {
    width: 100%;
}

.contact .container form input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    border: 0;
    background-color: var(--second-bg-color);
    font-size: 16px;
    color: var(--second-color);
}
.contact .container form input::placeholder, textarea::placeholder {
    text-transform: capitalize;
}
textarea {
    height: 200px;
}
button {
    border: 0;
    outline: 0;
}
@media (max-width: 800px) {
    .contact .container {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    .contact .container .content ul {
        justify-content: center;
    }
}
/* End Contact */
/* Satrt Footer */
footer {
    padding: 20px 0;
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}
/* End Footer */